
body{
    background-color:lemonchiffon;

    margin: 0 auto;

}

header{
	background-color:ghostwhite;
	text-align: center;
}

.genre{
	float:left;
    text-align:center;
	background-color:moccasin;
	width:125px;

}

.genre ul{
	list-style:none;
	margin-left:-50px;

}

#naiyo{
	top:146px; left:243px
}

#naiyo label{
	top:0px; left:-43px
}


#namae{
	float:left;
	top:122px; left:200px
}
.msg{
	overflow: auto;
}
.massage{
<<<<<<< HEAD
	position:relative; top:225px; left:50px;
=======

>>>>>>> sub1
}
