body	{
		 background-color:lemonchiffon;
		}

h1		{
		 margin-left: 525px;
		 margin-top:100px;
		}

h3		{
		 margin-left: 525px;
		}

p		{
		 margin-left: 350px;
		}

.c		{
		 margin-left: 575px;
		}