body 	{
	 	 background-color:lemonchiffon;
	 	}

.a  	{
	text-align:center;
		 /*margin-left:450px;
    	 margin-top:200px;*/
    	}

.b  	{
	text-align:center;
		/* margin-left:400px;*/
		}

.c  	{
		 margin-left:575px;
		}